name: Check locales daily

on:
    schedule:
        - cron: '0 0 * * *'
    workflow_dispatch:

jobs:
    check-locales:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout repository
          uses: actions/checkout@v4
        - name: Set up Python
          uses: actions/setup-python@v5
          with:
            python-version: '3.11'
        - name: Install dependencies
          run: |
                python -m pip install --upgrade pip
                pip install -r android-l10n-integrity/requirements.txt
        - name: Run dir_extract.py
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          run: |
                python android-l10n-integrity/src/dir_extract.py $GITHUB_TOKEN
        - name: Run apk_download.py
          run: |
                python android-l10n-integrity/src/apk_download.py ./app.apk
        - name: Run apk_inspect.py
          run: |
                python android-l10n-integrity/src/apk_inspect.py ./app.apk
        - name: Run locale_compare.py
          run: |
                python android-l10n-integrity/src/locale_compare.py
        - name: Upload result
          if: failure()
          uses: actions/upload-artifact@v4.6.2
          with:
            name: check-locales-log
            path: ./check_locales.log
        - name: Send Slack notice
          if: failure()
          uses: slackapi/slack-github-action@v2.0.0
          with:
            webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
            webhook-type: incoming-webhook
            payload-file-path: ./android-l10n-integrity/src/slack_payload.json
            payload-templated: true
          env:
            run_id: ${{ github.run_id }}
            repository: ${{ github.repository }}
            server_url: ${{ github.server_url }}
            LOCALES_MISSING: ${{ env.LOCALES_MISSING }}



