name: Android Performance Tests in Firebase

on:
  workflow_dispatch: {}

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    # Authenticate with Google Cloud
    - name: Authenticate with Google Cloud
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_PERF_TESTS_TEST_LAB }}
    
    # Set up Cloud SDK
    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v2
    
    # Download APKs from GCP bucket
    - name: Download APKs
      run: |
        # download apks for termux, debug, and androidTest app
        gsutil cp -r gs://android_perf_test/ .
    
    # Run tests in Firebase Test Lab
    - name: Run Wireless Debug Test in Firebase Test Lab
      run: |
        
        gcloud firebase test android run \
          --project moz-fenix \
          --app=./app-debug.apk \
          --test=./app-debug-androidTest.apk \
          --additional-apks ./com.termux_1000.apk \
          --test-targets "class com.example.browserperformancetest.WirelessDebugAutomationTest" \
          --device model=e3q,version=34,locale=en_US,orientation=portrait \
          --timeout 30m \
          --directories-to-pull /sdcard/Download \
          --client-details matrixLabel="Chrome vs Firefox"